
<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
          .row.content {height: 1500px}

          /* Set gray background color and 100% height */
          .sidenav {
            background-color: #f1f1f1;
            height: 100%;
          }

          /* Set black background color, white text and some padding */
          footer {
            background-color: #555;
            color: white;
            padding: 15px;
          }

          /* On small screens, set height to 'auto' for sidenav and grid */
          @media screen and (max-width: 767px) {
            .sidenav {
              height: auto;
              padding: 15px;
            }
            .row.content {height: auto;}
          }
        </style>
      </head>

      <!-- <!list-body> -->
      <html>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
      </style>
      <body class="w3-light-grey w3-content" style="max-width:1600px">


<!---------body------------>
      <body>


        <div class="col-sm-10, centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3>
                    附近的活动
                      <div class="pull-right">
                        <%= link_to("发起活动", new_job_path, :class => "btn btn-default" ) %>
                      </div>
                        <div class="dropdown clearfix pull-right">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            筛选
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                              <li>
                                <%= link_to("进阶程度", jobs_path(:order => "by_lower_bound")) %>
                              </li>
                              <li>
                                  <%= link_to("跑步里程", jobs_path(:order => "by_upper_bound")) %>

                              </li>
                              <li>
                                <%= link_to("最近活动日期", jobs_path ) %>
                              </li>
                              </ul>
                          </div>
                    </h3>
                  </div>
              </div>

              <!-- !PAGE CONTENT! -->
              <div class="w3-main" style="margin:70px">
                <!-- First Photo Grid-->
                <div class="w3-row-padding">
                  <div class="w3-third w3-container w3-margin-bottom">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">Longfellows城市慢跑</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> Apr.30,2017 SUN.</p>
                        <h5 class="text-center"><span class="label label-primary">K1入门</span></h5><br>
                    </div>
                  </div>

                  <div class="w3-third w3-container w3-margin-bottom">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">户外马甲线入门训练</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> May.1,2017 MON.</p>
                        <h5 class="text-center"><span class="label label-primary">K1入门</span></h5><br>
                    </div>
                  </div>

                  <div class="w3-third w3-container">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">哈佛环湖慢跑</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> Apr.30,2017 SUN.</p>
                		  <h5 class="text-center"><span class="label label-danger">K2进阶</span></h5><br>
                    </div>
                </div>

                <!-- Second Photo Grid-->
                <div class="w3-row-padding">
                  <div class="w3-third w3-container w3-margin-bottom">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">Longfellows城市慢跑</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> Apr.30,2017 SUN.</p>
                		  <h5 class="text-center"><span class="label label-danger">K2进阶</span>
                    </div>
                  </div>
                  <div class="w3-third w3-container w3-margin-bottom">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">Longfellows城市慢跑</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> Apr.30,2017 SUN.</p>
                		  <h5 class="text-center"><span class="label label-danger">K2进阶</span>
                    </div>
                  </div>
                  <div class="w3-third w3-container">
                    <img src="http://www.iheartrunning.com.au/wp-content/uploads/2016/04/Stair-running.jpg" alt="Lights" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                      <br>
                      <h5 class="text-center">Longfellows城市慢跑</h5>
                        <p class="text-center"><span class="glyphicon glyphicon-time"></span> Apr.30,2017 SUN.</p>
                		  <h5 class="text-center"><span class="label label-danger">K2进阶</span>
                    </div>
                  </div>
                </div>


            <div class="col-sm-12">
              <table class="table table-boldered">
                  <thead>
                      <tr>
                          <td>活动名称</td>
                          <td>进阶程度</td>
                          <td>跑步里程（公里）</td>
                          <td>活动日期</td>
                      </tr>
                  </thead>
                  <tbody>
                      <% @jobs.each do |job| %>
                      <tr>
                          <td>
                              <%= link_to(job.title, job_path(job)) %>
                          </td>
                          <td>
                              <%= job.wage_lower_bound %>
                          </td>
                          <td>
                              <%= job.wage_upper_bound %>
                          </td>
                          <td>
                              <%= job.created_at %>
                          </td>
                      </tr>
                      <% end %>
                  </tbody>
                </table>
            </div> -->



            </div>
      </body>
